@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --green: #b9ff66;
    --dark: #191a23;
    --gray: #f3f3f3;

    --font-family: 'Space Grotesk', sans-serif;

    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family), serif;
    background-color: var(--gray);
    color: var(--dark);
    line-height: 1.6;
    max-width: var(--max-width);
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 2fr auto auto;
    align-items: center;
}

.navigation-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    grid-column: 2;
    margin-right: 2rem;
}

.nav-button {
    grid-column: 3;
}